<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Manage Schedule</title>
</head>
<body>
<h2> Admin Panel</h2>



<a href="/getentry" target="_self">ManageEntry</a></br>
<a href="/getblock" target="_self">ManageBlocks</a></br>
<a href="/getcourses" target="_self">ManageCourses</a> </br>
<a href="/getsection" target="_self">ManageSection</a></br>
<a href="/getstudents" target="_self">ManageStudents</a></br>
<a href="/getfaculty" target="_self">ManageFaculty</a></br>
<a href="/getschedule" target="_self">ManageSchedule</a></br>



<div>
    <form action="/getmainpage">
        <input class="clone_btn" type="submit" value="Back"/>
    </form>
</div>
</body>
</html>