
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1">
    <link href="/courses.css" type="text/css" rel="stylesheet" />
    <title>CourseList</title>
</head>
<body>
<div>
<h2>Course Managment System</h2>
</div>
<table id="course_table">
    <thead>
    <tr>
        <th>Id</th>
        <th>courseCode</th>
        <th>CourseName</th>
        <th>Course Level</th>
        <th>Credit</th>
        <th> Max Students</th>
        <th>prerequesit</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Course : ${courses}">
        <td th:text="${Course.id}"class="secnum1"></td>
        <td th:text="${Course.courseCode}"class="secnum2"></td>
        <td th:text="${Course.courseName}"class="secnum3"></td>
        <td th:text="${Course.level}" class="secnum4"></td>
        <td th:text="${Course.credit}" class="secnum4"></td>
        <td th:text="${Course.maxStudent}" class="secnum5"></td>
        <p  th:if="${Course.prerequisites.size!=0}">
        <td  th:text="${Course.prerequisites.get(0).courseName}" class="secnum6"></td>
        </p>
        <p  th:if="${Course.prerequisites.size==0}">
        <td >-</td>
        </p>
        <td><button class="editcourse" onclick="editForm(this)" >Edit</button></td>
        <td><button id=${Course.id} class="deletecourse" onclick="delete_course_in_row(this)"> Delete</button></td>

    </tr>
    </tbody>
</table>

<hr>
<div>
    <form action="/adminpanel">
    <input id="backbtn" class="clone_button" type="submit" value="Back"/>
    </form>
</div>

<!--popup window-->

<button class="open-button" onclick="openForm()">CreateCourse</button>

<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">


        <label for="email"><b>Course Name</b></label>
        <input id="course_namee" class="couresdata" type="text" placeholder="EnterCourseName" name="email" required> <br/>

        <label for="psw"><b>CourseCode</b></label>
        <input id="course_codee" class="couresdata" placeholder="Enter CourseCode" name="psw" required><br/>

        <label for="psw"><b>Course Level</b></label>
        <input id="course_level" class="couresdata" placeholder="Enter Course Level" name="psw" required><br/>

        <label for="psw"><b>Course Credit</b></label>
        <input id="course_credit" class="couresdata" placeholder="Enter Course credit" name="psw" required><br/>

        <label for="psw"><b>Max students</b></label>
        <input id="course_max_students"  class="couresdata" placeholder="max number of students" name="psw" required><br/>

        <label for="psw"><b>Course prerequisite</b></label>
        <select  class="couresdata"  id="course_prereq" ><br/>
            <option value="0">select prerequiste</option>
            <option th:each="Course : ${courses}" th:value="${Course.courseName}" th:text="${Course.courseName}" ></option>
        </select>
        </select>

        <button id="createcourse_btn" type="button" class="btn" >create</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>



<!--pop edit window-->

<div class="form-popupe" id="myForme">
    <form action="/action_page.php" class="form-containere">

        <label for="email"><b>course id</b></label>
        <input id="course_id" type="text" placeholder="course id" name="emaile" required readonly> <br/>

        <label for="email"><b>Course Name</b></label>
        <input id="course_nameee" type="text" placeholder="EnterCourseNamee" name="emaile" required> <br/>

        <label for="psw"><b>CourseCode</b></label>
        <input id="course_codeee"  placeholder="Enter CourseCodeee" name="pswe" required><br/>
        <select  class="couresdata"  id="course_prereq_update" >
            <option value="0">select prerequiste</option>
            <option th:each="Course : ${courses}" th:value="${Course.courseName}" th:text="${Course.courseName}" ></option>

        </select><br/>

        <button id="update_course_btn" type="button" class="btne" onclick="updateCourse(this)"> update</button>
        <button type="button" class="btn cancele" onclick="editFormcancel()">Close</button>
    </form>
</div>








<script>

    var row_index;
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("course_namee").value="";
        document.getElementById("course_codee").value="";
    }

   function editForm(e){
       alert("edit button workingg..");
       row_index=e.parentNode.parentNode.rowIndex;
        document.getElementById("myForme").style.display="block";
        var course_index=e.parentNode.parentNode.rowIndex;
        let course_id=document.getElementById("course_table").rows[course_index].cells[0].innerHTML;
        let course_code=document.getElementById("course_table").rows[course_index].cells[1].innerHTML;
        let course_name=document.getElementById("course_table").rows[course_index].cells[2].innerHTML;
         document.getElementById("course_id").value=course_id;
         document.getElementById("course_nameee").value=course_name;
         document.getElementById("course_codeee").value=course_code;

   }
   function editFormcancel(){
        document.getElementById("myForme").style.display="none";
   }

   function updateCourse(e){
        let preq_course_index;
        let preq_course_obj;
       let preq_course_arry;

       let course_id=document.getElementById("course_id").value;
       let course_code= document.getElementById("course_codeee").value;
       let course_name= document.getElementById("course_nameee").value;
       let preq_getcourse_name=document.getElementById("course_prereq_update").value;

       if(preq_getcourse_name!=0) {
           let search_table = document.getElementById("course_table");
           for (let i = 0; i < search_table.rows.length; i++) {
               if (search_table.rows[i].cells[2].innerHTML == preq_getcourse_name) {
                   preq_course_index = i;
               }
           }
           let preq_course_id=search_table.rows[ preq_course_index].cells[0].innerHTML;
           let preq_course_code = search_table.rows[ preq_course_index].cells[1].innerHTML;
           let preq_course_name=search_table.rows[ preq_course_index].cells[2].innerHTML;
           let preq_course_level=search_table.rows[ preq_course_index].cells[3].innerHTML;
           let preq_course_credit=search_table.rows[ preq_course_index].cells[4].innerHTML;
           let preq_course_maxStudents=search_table.rows[ preq_course_index].cells[5].innerHTML;
           preq_course_obj={id:preq_course_id,courseCode:preq_course_code,courseName:preq_course_name,level:preq_course_level,
               credit:preq_course_credit,maxStudents:preq_course_maxStudents}

       }
       else{
           preq_course_obj=null;
           preq_getcourse_name="-";
       }
       preq_course_arry=[preq_course_obj];
       document.getElementById("course_table").rows[row_index].cells[1].innerHTML=course_code;
       document.getElementById("course_table").rows[row_index].cells[2].innerHTML=course_name;
       document.getElementById("course_table").rows[row_index].cells[6].innerHTML= preq_getcourse_name;



       let course_obj= {id:course_id,courseCode:course_code,courseName:course_name,prerequisites:preq_course_arry}
       alert("updatecourse"+course_obj);
       fetch('updatecourse', {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json',
           },
           body: JSON.stringify( course_obj ),
       })
           .then(response => response.json())
           .then(data => courseupdating(data))
           .catch((error) => {
               console.error('Error:', error);
           });

   }

    function courseupdating(data){

        alert("course updated successfully");

    }



</script>


<!-- hidden button-->


<script src="/courses.js"></script>
</body>
</html>
