
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1">
    <link href="/student.css" type="text/css" rel="stylesheet" />
    <title>StudentList</title>
</head>
<body>


<table id="student_table">
    <thead>
    <tr>
        <th>Id</th>
        <th>firstName</th>
        <th>LastName</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Student : ${students}">
        <td th:text="${Student.id}"class="secnum11"></td>
        <td th:text="${Student.firstName}"class="secnum22"></td>
        <td th:text="${Student.lastName}"class="secnum33"></td>
        <td><button class="editstudent_111" onclick="editStudent(this)" >Edit</button></td>
        <td><button id=${Course.id} class="deletestudent" onclick="delete_student_in_row(this)"> Delete</button></td>

    </tr>
    </tbody>
</table>

<hr>
<div>
    <form action="/adminpanel">
        <input class="clone_btn" type="submit" value="Back"/>
    </form>
</div>

<!--popup window-->

<button class="open-button" onclick="openForm()">CreateStudent</button>

<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h1>Create Student</h1>

        <label for="email"><b>first Name</b></label>
        <input id="first_namee" type="text" placeholder="EnterfirstName" name="email" required>

        <label for="psw"><b>last Name</b></label>
        <input id="last_namee"  placeholder="Enter lastName" name="psw" required>

        <button id="createstudent_btn" type="button" class="btn" >AddStudent</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>



<!--pop edit window-->

<div class="form-popupe" id="myForme">
    <form action="/action_page.php" class="form-containere">


        <label for="email"><b>course id</b></label>
        <input id="student_ide" type="text" placeholder="course id" name="emaile" required readonly> <br/>

        <label for="email"><b>Course Name</b></label>
        <input id="first_nameee" type="text" placeholder="EnterCourseNamee" name="emaile" required>

        <label for="psw"><b>CourseCode</b></label>
        <input id="last_nameee"  placeholder="Enter CourseCodeee" name="pswe" required>

        <button id="update_Student_btn" type="button" class="btne" onclick="updateStudent(this)">update</button>
        <button type="button" class="btn cancele" onclick="editFormcancel()">Close</button>
    </form>
</div>








<script>

    var row_index;
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("first_namee").value="";
        document.getElementById("last_namee").value="";
    }

    function editStudent(e){

            alert("edit button workingg..");
            row_index=e.parentNode.parentNode.rowIndex;
            document.getElementById("myForme").style.display="block";
            let student_id=document.getElementById("student_table").rows[row_index].cells[0].innerHTML;
            let first_name=document.getElementById("student_table").rows[row_index].cells[1].innerHTML;
            let last_name=document.getElementById("student_table").rows[row_index].cells[2].innerHTML;
            alert("id"+ student_id+"name"+first_name+"lastName"+last_name);
            document.getElementById("student_ide").value=student_id;
            document.getElementById("first_nameee").value=first_name;
            document.getElementById("last_nameee").value=last_name;


    }
    function editFormcancel(){
        document.getElementById("myForme").style.display="none";
    }

    function updateStudent(e){
        let student_id=document.getElementById("student_ide").value;
        let student_firstName= document.getElementById("first_nameee").value;
        let student_lastName= document.getElementById("last_nameee").value;

        alert("index"+row_index);
        document.getElementById("student_table").rows[row_index].cells[1].innerHTML=student_firstName;
        document.getElementById("student_table").rows[row_index].cells[2].innerHTML=student_lastName;


        let student_obj= {id:student_id,firstName:student_firstName,lastName:student_lastName}
        alert("updatestudent"+student_obj);
        fetch('updatestudent', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify( student_obj ),
        })
            .then(response => response.json())
            .then(data => studentupdating(data))
            .catch((error) => {
                console.error('Error:', error);
            });

    }

    function studentupdating(data){

        alert("course updated successfully");

    }







</script>





<script src="/student.js"></script>
</body>
</html>